<html>
	<head>
		<title>{{ .Title }}</title>
	</head>
	<body>
		<nav>
			<ul>
				<li id="site-title">
					{{ .Title }}
				</li>
				<li>
					<a href="./">
						Home
					</a>
				</li>
				<li>
					<a href="./about">
						About
					</a>
				</li>
				<li>
					<a href="./monthly-updates">
						Monthly Updates
					</a>
				</li>
			</ul>
		</nav>
		<ul>
		{{ range .Site.RegularPages }}
			<li>
				<a href="{{ .RelPermalink }}">
					{{ .Title }}
				</a>
			</li>
		{{ end }}
		</ul>
	</body>
</html>
