a {
	color: blue;
	text-decoration: none;
}

#home-page-link {
	font-size: 2em;
}

a:hover {
	text-decoration: underline;
}

footer {
	font-size: 0.70em;
}

#home-page-posts {
	list-style: none;
	margin-bottom: 7px;
	margin: auto;
	width: 50%;
}

#home-page-posts > li {
	margin-bottom: 7px;
	text-align: center;
}

#nav-bar-links {
	list-style: none;
}

#nav-bar-links > li {
	display: inline-block;
	padding: 5px;
}

#nav-bar-links > li:not(:last-child) {
	border-right: 2px solid darkblue;
}

nav {
	display: table-cell;
}
